body {
  background-color: #000 !important;
}

#logo {
  height: 48px;
}

#avatar {
  height: 36px;
}

#avatar-small {
  height: 24px;
  margin-right: 10px;
}

.poster {
  transition: 0.3s;
  opacity: 0.8;
}

.poster:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}
